@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.fixed-size-image {
  @apply w-80 h-60 object-cover; /* Adjust these values to your desired width and height */
}

.fixed-size-image-auction {
  @apply w-72 h-60 object-contain; /* Adjust these values to your desired width and height */
}

.fixed-size-image-details {
  @apply w-96 h-80 object-cover; /* Adjust these values to your desired width and height */
}